html{
    scroll-behavior: smooth
}

.Navbar {
    display:flex;
    /*justify-content: space-between;
    align-items: center; */
    background-color: #333333;
    color:white;
    width: 97vw;
    padding: 10px;
}


.Navbar > div > a{
    color:white;
    text-decoration: none;
}

.imgnav{
    
    display: flex;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 1;
}

.Navbar_options{
    position: relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
    padding: 20px;
}

.Navbar_options > div > a{
    padding: 15px;
    color:white;
    text-decoration: none;
    align-self: center;
}

.Intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px;
}

#Introtxt{
    margin-right: auto;
    color: white;
    font-family: sans-serif;
    font-size: 500%;
    text-align: center;
    padding: 30px;
    align-self: center;
}

#Intropic{
    margin-left: auto;
}

.Resume{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    background-color: #333333;
    text-align: center;
}

#Resumepic{
    display: block;
    margin-bottom: 30px;
}

#Resumetxt{
    color: white; 
    margin-bottom: 30px;
}

.workexp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#myChart{
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 80px;
    margin-top: 50px;
    padding:20px;
    background-color: rgb(51, 59, 80);
}

#portfoliopics{
    margin: 80px;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.picont {
    position: relative;
    text-align: center;
}

.picont > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picont> a > div{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 500%);
}

.picont> a:hover{
    background-color: darkgrey;
    opacity: 0.5;
}

.contact{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 90px;
    margin-bottom: 90px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(51,59,80);
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
}

.contactintro{
    color:white;
    padding:15px;
    padding-top: 28px;
}

.contactform{
    width: 100%;
}


.contactforminfo label {
    display: block;
    color:white;
    padding: 10px;
    width: 100%;
}

.contactforminfo input{
    display: inline-block;
    width:100%;
    color: black !important;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.contactforminfo input[type=submit]{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    font-size: large;
    width:100%;
    padding: 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form{
    border-radius: 5px;
    padding:15px;
}

footer{
    padding: 15px;
}
